<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Intracol Internship</title>
<style>
.heading {
	font-size: 4rem;
	color: green;
}

.container {
	display: flex;
	justify-content: center;
}
</style>
</head>
<body>

	<div id="container" class="container">
		<div>
			<h1 id="heading" class="heading">Intracol Internship 2020 Java Plovdiv</h1>
		</div>
	</div>
	<div class="container">
		<img alt="Intracol_Office"
			src="https://officeparkplovdiv.com/web/thumbs/1920x456/carousels/2/image/header_3_1920x456_crop_and_resize_to_fit_478b24840a_1920x456_crop_and_resize_to_fit_478b24840a.jpg?1532701821">
	</div>
	<div class="container">
		<a class="heading"  href="http://localhost:8080/students" >View Participants</a>
	</div>
</body>
</html>